:root {
    --primary-button-color: #2b7ef4;
    --secondary-button-color: #2868c2;
    --white: #fff;
    --black: #000;
}

.button-color {
    background-color: var(--primary-button-color);
    color: var(--black);
}

.button-color:hover {
    background-color: var(--secondary-button-color);
    color: var(--white);
}
